{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="font-family: 'Patua One', cursive; background-color:purple;font-size:2.5em;">
      <h1 style="font-family: 'Patua One', cursive;color:white;padding:1%" class="brand">Switch Learning</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a style="font-size:0.6em;" class="nav-link" href="{%url 'home'%}">Home</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-sm">
  <br>
  <br>
  <div class="jumbotron">
    <div class="row">
      <div class="col-4">
          <h2>About us</h2>
      </div>
      <div class="col-8">
        <div class="img" style="display:flex;justify-content:center;">
          <img style="width:40%;height:auto;" src="http://marathoneducation.com/assets/img/slider/2.png" alt="">
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <h4>What is Switch Learning ?</h4>
    <p style="font-size:1.2em;">We authenticate and simplify the administrative processes for lifelong learners. Through Blockchain technology we provide a service that allows academic documents be both instantly verifiable, and substantially less expensive to store and transfer. We aim to develop new ways for people, institutions and companies to exchange and store academic credentials. By using distributed ledger technology we can finally access a safer and more streamlined approach to data storage, resulting in security and transparency being built into the core of the solution. </p>
    <br>
    <h4>Why this project ?</h4>
    <p style="font-size:1.2em;">We believe that educational records are not only important but should also be handled with care. We guide individuals in every step of their formal education and beyond. </p>
    <br>
    <h4>How does it work?</h4>
      <p style="font-size:1.2em;">In the first place, an institution, using its account on the platform, is able to upload a file to a recipient’s account. During the process, the file itself also gets stored on IPFS, a peer-to-peer, decentralized and distributed system for storing and accessing files. On the other hand, the metadata id of the file is stored on the Ethereum blockchain. By providing an exchange platform, moving, and encrypting the data into IPFS and Ethereum, we are offering a verification tool for each file to allow every useful educational record to be gathered onto one platform.</p>
      <br>
    <h4>In a nutshell:</h4>
    <p style="font-size:1.2em;">With such an improved transparency, companies no longer need to carryout pre-employment background checks on candidates. In addition, our service can increase the employability of individuals as well as the attractiveness of the issuing institutions.</p>
  </div>
</div>
  </body>
</html>
